<div class="container-fixed">
    <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
        <div class="flex flex-col justify-center gap-2">
            <h1 class="text-xl font-medium leading-none text-gray-900">
                Purchase Requests
            </h1>
        </div>
        <div class="flex items-center gap-2.5">
            <a class="btn btn-sm btn-success" routerLink="/purchase-requests/create" *ngIf="permissionService.hasPermission('WorkSpace - Can Create Purchase Request')">
                New Purchase Request
            </a>
        </div>
    </div>

    <app-alert [errorMessages]="errorMessages" [successMessage]="successMessage"></app-alert>

    <div class="mb-4">
        <h2 class="text-lg font-medium leading-none text-gray-900">
            Search
        </h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
            <div>
                <label class="text-sm font-normal text-gray-700" for="entity_name">Entity Name:</label>
                <br>
                <input type="text" id="entity_name" class="input input-sm" placeholder="Entity Name" [(ngModel)]="filters.entity_name"
                    name="entity_name">
            </div>
            <div>
                <label class="text-sm font-normal text-gray-700" for="pr_number">PR Number:</label>
                <br>
                <input type="text" id="pr_number" class="input input-sm" placeholder="PR Number" [(ngModel)]="filters.pr_number"
                    name="pr_number">
            </div>
            <div>
                <label class="text-sm font-normal text-gray-700" for="pr_date">PR Date:</label>
                <br>
                <input [matDatepicker]="pr_date" class="input input-sm" (click)="pr_date.open()" name="pr_date" [(ngModel)]="filters.pr_date"  placeholder="Select PR Date">
                <mat-datepicker #pr_date></mat-datepicker>
            </div>
            <div>
                <label class="text-sm font-normal text-gray-700" for="status">Status:</label>
                <br>
                <select id="status" class="input input-sm" [(ngModel)]="filters.status" name="status">
                    <option value="">All</option>
                    <option value="Draft">Draft</option>
                    <option value="Submitted">Submitted</option>
                    <option value="Approved">Approved</option>
                    <option value="Rejected">Rejected</option>
                    <option value="Cancelled">Cancelled</option>
                </select>
            </div>
        </div>
        <div class="w-full mt-2 flex justify-end gap-2">
            <button class="btn btn-sm btn-light" [disabled]="loading" (click)="resetFilters()">
                Clear Filters
            </button>
            <button class="btn btn-sm btn-primary" [disabled]="loading" (click)="searchPurchaseRequests()">
                {{ loading ? 'Loading...' : 'Search' }}
            </button>
        </div>
    </div>
    <hr class="w-full my-4 border-t border-gray-300 mb-8">
</div>

<div class="container-fixed">
    <div class="grid gap-5 lg:gap-7.5">
        <div class="card card-grid min-w-full">
            <div class="card-header flex-wrap gap-2">
                <h3 class="card-title font-medium text-sm">
                    Showing {{ from }} to {{ to }} of {{ totalItems }} purchase requests
                </h3>
            </div>
            <div class="card-body">
                <div data-datatable="true" data-datatable-page-size="20">
                    <div class="scrollable-x-auto">
                        <table class="table table-auto table-border" data-datatable-table="true">
                            <thead>
                                <tr>
                                    <th class="min-w-[250px]">
                                        Entity Name
                                    </th>
                                    <th class="min-w-[100px]">
                                        PR Number
                                    </th>
                                    <th class="min-w-[180px]">
                                        PR Name
                                    </th>
                                    <th class="min-w-[180px]">
                                        PR Date
                                    </th>
                                    <th class="min-w-[150px]">
                                        Amount
                                    </th>
                                    <th class="min-w-[150px]">
                                        Amount in Local
                                    </th>
                                    <th class="min-w-[150px]">
                                        Approval Level
                                    </th>
                                    <th class="min-w-[150px]">
                                        Status
                                    </th>
                                    <th class="w-[60px]">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let purchaseRequest of purchaseRequests">
                                    <td class="text-gray-800 font-normal">
                                        {{ purchaseRequest.entity?.name }}
                                    </td>
                                    <td class="text-gray-800 font-normal">
                                        {{ purchaseRequest.pr_number }}
                                    </td>
                                    <td class="text-gray-800 font-normal">
                                        {{ purchaseRequest.pr_name }}
                                    </td>
                                    <td class="text-gray-800 font-normal">
                                        {{ purchaseRequest.pr_date_formatted }}
                                    </td>
                                    <td class="text-gray-800 font-normal">
                                        {{ purchaseRequest.amount_in_document_currency_formatted }} {{ purchaseRequest.currency }}
                                    </td>
                                    <td class="text-gray-800 font-normal">
                                        {{ purchaseRequest.amount_in_local_currency_formatted }} {{ purchaseRequest.local_currency }}
                                    </td>
                                    <td class="text-gray-800 font-normal">
                                        <div class="badge badge-sm badge-danger badge-outline">
                                            {{ purchaseRequest.approval_level_approved }} / {{ purchaseRequest.approval_level_required }}
                                        </div>
                                    </td>
                                    <td class="text-gray-800 font-normal">
                                        <div class="badge badge-sm badge-{{ purchaseRequest.status_color }} badge-outline">
                                            {{ purchaseRequest.status_alias }}
                                        </div>
                                    </td>

                                    <td class="text-center">
                                        <div class="menu flex-inline" data-menu="true">
                                            <div class="menu-item" data-menu-item-offset="0, 10px"
                                                data-menu-item-placement="bottom-end"
                                                data-menu-item-placement-rtl="bottom-start"
                                                data-menu-item-toggle="dropdown"
                                                data-menu-item-trigger="click|lg:click">
                                                <button class="menu-toggle btn btn-sm btn-icon btn-light btn-clear">
                                                    <i class="ki-filled ki-dots-vertical">
                                                    </i>
                                                </button>
                                                <div class="menu-dropdown menu-default w-full max-w-[175px]"
                                                    data-menu-dismiss="true">
                                                    <div *ngIf="permissionService.hasPermission('WorkSpace - Can Show Purchase Request')" class="menu-item">
                                                        <a class="menu-link" [routerLink]="['/purchase-requests/', purchaseRequest.id]">
                                                            <span class="menu-icon">
                                                                <i class="ki-filled ki-setting-2">
                                                                </i>
                                                            </span>
                                                            <span class="menu-title">
                                                                View
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <tr *ngIf="purchaseRequests?.length == 0">
                                    <td colspan="7" class="text-center text-gray-500 font-normal">
                                        No purchase requests found
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div
                        class="card-footer justify-center md:justify-between flex-col md:flex-row gap-5 text-gray-600 text-2sm font-medium">
                        <div class="flex items-center gap-2 order-2 md:order-1">

                        </div>
                        <div class="flex items-center gap-4 order-1 md:order-2">
                            <app-pagination *ngIf="!loading" [perPage]="perPage" [totalItems]="totalItems"
                                [currentPage]="page" (selectedPage)="selectedPage($event)">
                            </app-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>