<div class="container-fixed">
    <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
        <div class="flex flex-col justify-center gap-2">
            <h1 class="text-xl font-medium leading-none text-gray-900">
                View Country Budget
            </h1>
        </div>
        <div class="flex items-center gap-2.5">
            <a class="btn btn-sm btn-light" routerLink="/settings/country-budget">
                Back
            </a>
        </div>
    </div>

    <app-alert [errorMessages]="errorMessages" [successMessage]="successMessage"></app-alert>

    <div class="grid gap-5 lg:gap-7.5 w-full mx-left" *ngIf="!loading">
        <!-- Add Budget Summary Section -->
        <div class="grid grid-cols-5 gap-4 mb-7.5 w-full">
            <div class="card p-4 text-center w-full">
                <div class="text-2xl font-semibold text-primary mb-2">
                    {{countryBudget.total_budget_formatted || '0.00'}}
                </div>
                <div class="text-gray-600 text-sm">
                    Total Budget
                </div>
            </div>
            <div class="card p-4 text-center w-full">
                <div class="text-2xl font-semibold text-primary mb-2">
                    {{countryBudget.total_planned_budget_amount_formatted || '0.00'}}
                </div>
                <div class="text-gray-600 text-sm">
                    Planned
                </div>
            </div>
            <div class="card p-4 text-center w-full">
                <div class="text-2xl font-semibold text-primary mb-2">
                    {{countryBudget.total_actual_budget_amount_formatted || '0.00'}}
                </div>
                <div class="text-gray-600 text-sm">
                    Actual
                </div>
            </div>
            <div class="card p-4 text-center w-full">
                <div class="text-2xl font-semibold text-primary mb-2">
                    {{countryBudget.total_allotted_budget_amount_formatted || '0.00'}}
                </div>
                <div class="text-gray-600 text-sm">
                    Allotted
                </div>
            </div>
            <div class="card p-4 text-center w-full">
                <div class="text-2xl font-semibold text-primary mb-2">
                    {{countryBudget.total_available_budget_amount_formatted || '0.00'}}
                </div>
                <div class="text-gray-600 text-sm">
                    Available
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-5">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        Country Budget Information
                    </h3>
                    <button class="btn btn-light btn-sm" [routerLink]="['/settings/country-budget/edit/', countryBudget.id]">
                        <i class="ki-filled ki-notepad-edit"></i>
                        Edit Budget
                    </button>
                </div>
                <div class="card-body pt-4 pb-2">
                    <table class="table-auto">
                        <tbody>
                            <tr>
                                <td class="text-sm text-gray-600 min-w-36 pb-5 pe-6">
                                    Country
                                </td>
                                <td class="text-sm text-gray-800 pb-5">
                                    {{countryBudget.country?.name}}
                                </td>
                            </tr>
                            <tr>
                                <td class="text-sm text-gray-600 min-w-36 pb-5 pe-6">
                                    Year
                                </td>
                                <td class="text-sm text-gray-800 pb-5">
                                    {{countryBudget.year}}
                                </td>
                            </tr>
                            <tr>
                                <td class="text-sm text-gray-600 min-w-36 pb-5 pe-6">
                                    Total Budget
                                </td>
                                <td class="text-sm text-gray-800 pb-5">
                                    {{countryBudget.total_budget_formatted}} {{countryBudget.currency}}
                                </td>
                            </tr>
                            <tr>
                                <td class="text-sm text-gray-600 min-w-36 pb-5 pe-6">
                                    Total Planned Entity
                                </td>
                                <td class="text-sm text-gray-800 pb-5">
                                    {{countryBudget.total_planned_entity_budget_amount_formatted}} {{countryBudget.currency}}
                                </td>
                            </tr>
                            <tr>
                                <td class="text-sm text-gray-600 min-w-36 pb-5 pe-6">
                                    Status
                                </td>
                                <td class="text-sm text-gray-800 pb-5">
                                    <div class="badge badge-sm badge-success badge-outline">
                                        {{countryBudget.status}}
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        Monthly Amounts
                    </h3>
                </div>
                <div class="card-table scrollable-x-auto">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="min-w-52">Month</th>
                                <th class="min-w-24">Amount</th>
                                <th class="min-w-24">Planned Entity</th>
                                <th class="min-w-24">Planned</th>
                                <th class="min-w-24">Actual</th>
                                <th class="min-w-24">Allotted</th>
                                <th class="min-w-24">Available</th>
                                <th class="min-w-24">Status</th>
                                <th class="min-w-24">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of monthlyAmounts; let i = index">
                                <td class="text-sm text-gray-800 font-normal">
                                    {{getMonthName(item.month)}}
                                </td>
                                <td class="lg:text-start">
                                    {{item.budget_amount_formatted}} {{countryBudget.currency}}
                                </td>
                                <td class="lg:text-start">
                                    {{item.planned_entity_budget_amount_formatted}} {{countryBudget.currency}}
                                </td>
                                <td class="lg:text-start">
                                    {{item.planned_budget_amount_formatted}} {{countryBudget.currency}}
                                </td>
                                <td class="lg:text-start">
                                    {{item.actual_budget_amount_formatted}} {{countryBudget.currency}}
                                </td>
                                <td class="lg:text-start">
                                    {{item.allotted_budget_amount_formatted}} {{countryBudget.currency}}
                                </td>
                                <td class="lg:text-start">
                                    {{item.available_budget_amount_formatted}} {{countryBudget.currency}}
                                </td>
                                <td class="lg:text-start">
                                    <div class="badge badge-sm badge-success badge-outline">
                                        {{item.status}}
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="menu flex-inline" data-menu="true">
                                        <div class="menu-item" 
                                            data-menu-item-offset="0, 10px"
                                            data-menu-item-placement="bottom-end"
                                            data-menu-item-placement-rtl="bottom-start"
                                            data-menu-item-toggle="dropdown"
                                            data-menu-item-trigger="click|lg:click">
                                            <button class="menu-toggle btn btn-sm btn-icon btn-light btn-clear">
                                                <i class="ki-filled ki-dots-vertical"></i>
                                            </button>
                                            <div class="menu-dropdown menu-default w-full max-w-[175px]" data-menu-dismiss="true">
                                                <div class="menu-item">
                                                    <a class="menu-link" [routerLink]="['/settings/country-budget/view/', countryBudget.id, item.id]">
                                                        <span class="menu-icon">
                                                            <i class="ki-filled ki-setting-2"></i>
                                                        </span>
                                                        <span class="menu-title">View</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="loading" class="p-5">
        <svg aria-hidden="true" class="w-10 h-10 m-auto text-gray-200 animate-spin dark:text-gray-600 fill-green-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
        </svg>
        <p class="text-center">Loading...</p>
    </div>
</div>