<div class="container-fixed">
    <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
        <div class="flex flex-col justify-center gap-2">
            <h1 class="text-xl font-medium leading-none text-gray-900">
                Recurring Operational Cost
            </h1>
        </div>
        <div class="flex items-center gap-2.5">
            <a class="btn btn-sm btn-success" routerLink="/settings/recurring-operational-cost/create"
                *ngIf="permissionService.hasPermission('Settings - Can Create Recurring Operational Cost')">
                New Recurring Operational Cost
            </a>
        </div>
    </div>

    <app-alert [errorMessages]="errorMessages" [successMessage]="successMessage"></app-alert>

    <div class="mb-4">
        <h2 class="text-lg font-medium leading-none text-gray-900">
            Search
        </h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
            <div>
                <label class="text-sm font-normal text-gray-700" for="name">Name:</label>
                <br>
                <input type="text" id="name" class="input input-sm" placeholder="Name" [(ngModel)]="filters.name"
                    name="name">
            </div>
            <div>
                <label class="text-sm font-normal text-gray-700" for="code">Code:</label>
                <br>
                <input type="text" id="code" class="input input-sm" placeholder="Code" [(ngModel)]="filters.code"
                    name="code">
            </div>
            <div>
                <label class="text-sm font-normal text-gray-700">
                    Entity:
                </label>
                <p class="pt-2 text-sm" id="fetching_entity" style="display: none">Fetching Entities...</p>
                <select name="entity_selectize" id="entity_selectize" class="filter-selectize w-full">
                    <option value="">Select Entity</option>
                </select>
            </div>
            <div>
                <label class="text-sm font-normal text-gray-700" for="created_by">Created By:</label>
                <br>
                <input type="text" id="created_by" class="input input-sm" placeholder="Created By"
                    [(ngModel)]="filters.created_by" name="created_by">
            </div>
            <div>
                <label class="text-sm font-normal text-gray-700" for="created_at">Created At</label>
                <input [matDatepicker]="created_at" class="input input-sm" (click)="created_at.open()" name="created_at"
                    [(ngModel)]="filters.created_at" placeholder="Select Created At">
                <mat-datepicker #created_at></mat-datepicker>
            </div>
        </div>
        <div class="w-full mt-2 flex justify-end gap-2">
            <button class="btn btn-sm btn-light" [disabled]="loading" (click)="resetFilters()">
                Reset Filters
            </button>
            <button class="btn btn-sm btn-primary" [disabled]="loading" (click)="searchRecurringOperationalCosts()">
                {{ loading ? 'Loading...' : 'Search' }}
            </button>
        </div>
    </div>
    <hr class="w-full my-4 border-t border-gray-300 mb-8">
</div>

<div class="container-fixed">
    <div class="grid gap-5 lg:gap-7.5">
        <div class="card card-grid min-w-full">
            <div class="card-header flex-wrap gap-2">
                <h3 class="card-title font-medium text-sm">
                    Showing {{ from }} to {{ to }} of {{ totalItems }} recurring operational costs
                </h3>
            </div>
            <div class="card-body">
                <div data-datatable="true" data-datatable-page-size="20">
                    <div class="scrollable-x-auto">
                        <table class="table table-auto table-border" data-datatable-table="true">
                            <thead>
                                <tr>
                                    <th class="min-w-[180px]">
                                        Name
                                    </th>
                                    <th class="min-w-[180px]">
                                        Code
                                    </th>
                                    <th class="min-w-[180px]">
                                        Cost Amount
                                    </th>
                                    <th class="min-w-[180px]">
                                        Entity
                                    </th>
                                    <th class="min-w-[180px]">
                                        Created By
                                    </th>
                                    <th class="min-w-[180px]">
                                        Created At
                                    </th>
                                    <th class="w-[60px]">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let recurringOperationalCost of recurringOperationalCosts">
                                    <td class="text-gray-800 font-normal">
                                        {{ recurringOperationalCost.name }}
                                    </td>
                                    <td class="text-gray-800 font-normal">
                                        {{ recurringOperationalCost.code }}
                                    </td>
                                    <td class="text-gray-800 font-normal">
                                        {{ recurringOperationalCost.cost_amount_in_local_currency_formatted }}
                                    </td>
                                    <td class="text-gray-800 font-normal">
                                        {{ recurringOperationalCost.entity ? recurringOperationalCost.entity.label : 'N/A' }}
                                    </td>
                                    <td class="text-gray-800 font-normal">
                                        {{ recurringOperationalCost.created_by_user ? recurringOperationalCost.created_by_user.name : 'N/A' }}
                                    </td>
                                    <td class="text-gray-800 font-normal">
                                        {{ recurringOperationalCost.created_at_formatted }}
                                    </td>

                                    <td class="text-center">
                                        <div class="menu flex-inline" data-menu="true">
                                            <div class="menu-item" data-menu-item-offset="0, 10px"
                                                data-menu-item-placement="bottom-end"
                                                data-menu-item-placement-rtl="bottom-start"
                                                data-menu-item-toggle="dropdown"
                                                data-menu-item-trigger="click|lg:click">
                                                <button class="menu-toggle btn btn-sm btn-icon btn-light btn-clear">
                                                    <i class="ki-filled ki-dots-vertical">
                                                    </i>
                                                </button>
                                                <div class="menu-dropdown menu-default w-full max-w-[175px]"
                                                    data-menu-dismiss="true">
                                                    <div *ngIf="permissionService.hasPermission('Settings - Can Show Recurring Operational Cost')"
                                                        class="menu-item">
                                                        <a class="menu-link"
                                                            [routerLink]="['/settings/recurring-operational-cost/', recurringOperationalCost.id]">
                                                            <span class="menu-icon">
                                                                <i class="ki-filled ki-setting-2">
                                                                </i>
                                                            </span>
                                                            <span class="menu-title">
                                                                Manage ROC
                                                            </span>
                                                        </a>
                                                    </div>
                                                    <div *ngIf="permissionService.hasPermission('Settings - Can Delete Recurring Operational Cost')"
                                                        class="menu-item">
                                                        <a class="menu-link" (click)="deleteRecurringOperationalCost(recurringOperationalCost.id)">
                                                            <span class="menu-icon">
                                                                <i class="ki-filled ki-trash">
                                                                </i>
                                                            </span>
                                                            <span class="menu-title">
                                                                Remove
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <tr *ngIf="recurringOperationalCosts.length == 0">
                                    <td colspan="7" class="text-center text-gray-500 font-normal">
                                        No recurring operational costs found
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div
                        class="card-footer justify-center md:justify-between flex-col md:flex-row gap-5 text-gray-600 text-2sm font-medium">
                        <div class="flex items-center gap-2 order-2 md:order-1">

                        </div>
                        <div class="flex items-center gap-4 order-1 md:order-2">
                            <app-pagination *ngIf="!loading" [perPage]="perPage" [totalItems]="totalItems"
                                [currentPage]="page" (selectedPage)="selectedPage($event)">
                            </app-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>