<div routerLinkActive="here show" class="menu-item" data-menu-item-toggle="accordion" data-menu-item-trigger="click">
    <div *ngIf="permissionService.hasPermission('View Settings in Sidebar')" class="menu-link flex items-center grow cursor-pointer border border-transparent gap-[10px] ps-[10px] pe-[10px] py-[6px]"
        tabindex="0">
        <span class="menu-icon items-start text-gray-500 dark:text-gray-400 w-[20px]">
            <i class="ki-filled ki-setting-2 text-lg">
            </i>
        </span>
        <span
            class="menu-title text-sm font-medium text-gray-800 menu-item-active:text-primary menu-link-hover:!text-primary">
            Settings
        </span>
        <span class="menu-arrow text-gray-400 w-[20px] shrink-0 justify-end ms-1 me-[-10px]">
            <i class="ki-filled ki-plus text-2xs menu-item-show:hidden">
            </i>
            <i class="ki-filled ki-minus text-2xs hidden menu-item-show:inline-flex">
            </i>
        </span>
    </div>
    <div
        class="menu-accordion gap-0.5 ps-[10px] relative before:absolute before:start-[20px] before:top-0 before:bottom-0 before:border-s before:border-gray-200">
        <div *ngIf="permissionService.hasPermission('Settings - View Master Data in Sidebar')" routerLinkActive="here show" class="menu-item" data-menu-item-toggle="accordion"
            data-menu-item-trigger="click">
            <div class="menu-link border border-transparent grow cursor-pointer gap-[14px] ps-[10px] pe-[10px] py-[8px]"
                tabindex="0">
                <span routerLinkActive="before:bg-primary"
                    class="menu-bullet flex w-[6px] relative before:absolute before:top-0 before:size-[6px] before:rounded-full rtl:before:translate-x-1/2 before:-translate-y-1/2 menu-item-active:before:bg-primary menu-item-hover:before:bg-primary">
                </span>
                <span routerLinkActive="text-primary font-semibold"
                    class="menu-title text-2sm font-normal me-1 text-gray-800 menu-item-active:text-primary menu-item-active:font-medium menu-link-hover:!text-primary">
                    Master Data
                </span>
                <span class="menu-arrow text-gray-400 w-[20px] shrink-0 justify-end ms-1 me-[-10px]">
                    <i class="ki-filled ki-plus text-2xs menu-item-show:hidden">
                    </i>
                    <i class="ki-filled ki-minus text-2xs hidden menu-item-show:inline-flex">
                    </i>
                </span>
            </div>
            <div
                class="menu-accordion gap-0.5 relative before:absolute before:start-[32px] ps-[22px] before:top-0 before:bottom-0 before:border-s before:border-gray-200">
                <div *ngIf="permissionService.hasPermission('Settings - Master Data - View User Management in Sidebar')" class="menu-item">
                    <a routerLink="/settings/master-data/user-management"
                        routerLinkActive="bg-secondary-active rounded-lg"
                        class="menu-link border border-transparent items-center grow menu-item-active:bg-secondary-active dark:menu-item-active:bg-coal-300 dark:menu-item-active:border-gray-100 menu-item-active:rounded-lg hover:bg-secondary-active dark:hover:bg-coal-300 dark:hover:border-gray-100 hover:rounded-lg gap-[5px] ps-[10px] pe-[10px] py-[8px]"
                        href="#" tabindex="0">
                        <span routerLinkActive="before:bg-primary"
                            class="menu-bullet flex w-[6px] relative before:absolute before:top-0 before:size-[6px] before:rounded-full rtl:before:translate-x-1/2 before:-translate-y-1/2 menu-item-active:before:bg-primary menu-item-hover:before:bg-primary">
                        </span>
                        <span routerLinkActive="text-primary font-semibold"
                            class="menu-title text-2sm font-normal text-gray-800 menu-item-active:text-primary menu-item-active:font-semibold menu-link-hover:!text-primary">
                            User Management
                        </span>
                    </a>
                </div>
                <div *ngIf="permissionService.hasPermission('Settings - Master Data - View Currency in Sidebar')" class="menu-item">
                    <a routerLink="/settings/master-data/currency-management"
                        routerLinkActive="bg-secondary-active rounded-lg"
                        class="menu-link border border-transparent items-center grow menu-item-active:bg-secondary-active dark:menu-item-active:bg-coal-300 dark:menu-item-active:border-gray-100 menu-item-active:rounded-lg hover:bg-secondary-active dark:hover:bg-coal-300 dark:hover:border-gray-100 hover:rounded-lg gap-[5px] ps-[10px] pe-[10px] py-[8px]"
                        href="#" tabindex="0">
                        <span routerLinkActive="before:bg-primary"
                            class="menu-bullet flex w-[6px] relative before:absolute before:top-0 before:size-[6px] before:rounded-full rtl:before:translate-x-1/2 before:-translate-y-1/2 menu-item-active:before:bg-primary menu-item-hover:before:bg-primary">
                        </span>
                        <span routerLinkActive="text-primary font-semibold"
                            class="menu-title text-2sm font-normal text-gray-800 menu-item-active:text-primary menu-item-active:font-semibold menu-link-hover:!text-primary">
                            Currency Management
                        </span>
                    </a>
                </div>
                <div *ngIf="permissionService.hasPermission('Settings - Master Data - View Region Management in Sidebar')" class="menu-item">
                    <a routerLink="/settings/master-data/region-management"
                        routerLinkActive="bg-secondary-active rounded-lg"
                        class="menu-link border border-transparent items-center grow menu-item-active:bg-secondary-active dark:menu-item-active:bg-coal-300 dark:menu-item-active:border-gray-100 menu-item-active:rounded-lg hover:bg-secondary-active dark:hover:bg-coal-300 dark:hover:border-gray-100 hover:rounded-lg gap-[5px] ps-[10px] pe-[10px] py-[8px]"
                        href="#" tabindex="0">
                        <span routerLinkActive="before:bg-primary"
                            class="menu-bullet flex w-[6px] relative before:absolute before:top-0 before:size-[6px] before:rounded-full rtl:before:translate-x-1/2 before:-translate-y-1/2 menu-item-active:before:bg-primary menu-item-hover:before:bg-primary">
                        </span>
                        <span routerLinkActive="text-primary font-semibold"
                            class="menu-title text-2sm font-normal text-gray-800 menu-item-active:text-primary menu-item-active:font-semibold menu-link-hover:!text-primary">
                            Region Management
                        </span>
                    </a>
                </div>
                <div *ngIf="permissionService.hasPermission('Settings - Master Data - View Country Management in Sidebar')" class="menu-item">
                    <a routerLink="/settings/master-data/country-management"
                        routerLinkActive="bg-secondary-active rounded-lg"
                        class="menu-link border border-transparent items-center grow menu-item-active:bg-secondary-active dark:menu-item-active:bg-coal-300 dark:menu-item-active:border-gray-100 menu-item-active:rounded-lg hover:bg-secondary-active dark:hover:bg-coal-300 dark:hover:border-gray-100 hover:rounded-lg gap-[5px] ps-[10px] pe-[10px] py-[8px]"
                        href="#" tabindex="0">
                        <span routerLinkActive="before:bg-primary"
                            class="menu-bullet flex w-[6px] relative before:absolute before:top-0 before:size-[6px] before:rounded-full rtl:before:translate-x-1/2 before:-translate-y-1/2 menu-item-active:before:bg-primary menu-item-hover:before:bg-primary">
                        </span>
                        <span routerLinkActive="text-primary font-semibold"
                            class="menu-title text-2sm font-normal text-gray-800 menu-item-active:text-primary menu-item-active:font-semibold menu-link-hover:!text-primary">
                            Country Management
                        </span>
                    </a>
                </div>
                <div *ngIf="permissionService.hasPermission('Settings - Master Data - View Entity Management in Sidebar')" class="menu-item">
                    <a routerLink="/settings/master-data/entity-management"
                        routerLinkActive="bg-secondary-active rounded-lg"
                        class="menu-link border border-transparent items-center grow menu-item-active:bg-secondary-active dark:menu-item-active:bg-coal-300 dark:menu-item-active:border-gray-100 menu-item-active:rounded-lg hover:bg-secondary-active dark:hover:bg-coal-300 dark:hover:border-gray-100 hover:rounded-lg gap-[5px] ps-[10px] pe-[10px] py-[8px]"
                        href="#" tabindex="0">
                        <span routerLinkActive="before:bg-primary"
                            class="menu-bullet flex w-[6px] relative before:absolute before:top-0 before:size-[6px] before:rounded-full rtl:before:translate-x-1/2 before:-translate-y-1/2 menu-item-active:before:bg-primary menu-item-hover:before:bg-primary">
                        </span>
                        <span routerLinkActive="text-primary font-semibold"
                            class="menu-title text-2sm font-normal text-gray-800 menu-item-active:text-primary menu-item-active:font-semibold menu-link-hover:!text-primary">
                            Entity Management
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div *ngIf="permissionService.hasPermission('Settings - View Country Budget in Sidebar')" class="menu-item">
            <a class="menu-link border border-transparent items-center grow menu-item-active:bg-secondary-active dark:menu-item-active:bg-coal-300 dark:menu-item-active:border-gray-100 menu-item-active:rounded-lg hover:bg-secondary-active dark:hover:bg-coal-300 dark:hover:border-gray-100 hover:rounded-lg gap-[14px] ps-[10px] pe-[10px] py-[8px]"
                routerLink="/settings/country-budget" routerLinkActive="bg-secondary-active rounded-lg" tabindex="0">
                <span
                    class="menu-bullet flex w-[6px] relative before:absolute before:top-0 before:size-[6px] before:rounded-full rtl:before:translate-x-1/2 before:-translate-y-1/2 menu-item-active:before:bg-primary menu-item-hover:before:bg-primary">
                </span>
                <span routerLinkActive="text-primary font-semibold"
                    class="menu-title text-2sm font-normal text-gray-800 menu-item-active:text-primary menu-item-active:font-semibold menu-link-hover:!text-primary">
                    Country Budget
                </span>
            </a>
        </div>
        <div *ngIf="permissionService.hasPermission('Settings - View Budget Management in Sidebar')" class="menu-item">
            <a class="menu-link border border-transparent items-center grow menu-item-active:bg-secondary-active dark:menu-item-active:bg-coal-300 dark:menu-item-active:border-gray-100 menu-item-active:rounded-lg hover:bg-secondary-active dark:hover:bg-coal-300 dark:hover:border-gray-100 hover:rounded-lg gap-[14px] ps-[10px] pe-[10px] py-[8px]"
                routerLink="/settings/budget-management" routerLinkActive="bg-secondary-active rounded-lg" tabindex="0">
                <span
                    class="menu-bullet flex w-[6px] relative before:absolute before:top-0 before:size-[6px] before:rounded-full rtl:before:translate-x-1/2 before:-translate-y-1/2 menu-item-active:before:bg-primary menu-item-hover:before:bg-primary">
                </span>
                <span routerLinkActive="text-primary font-semibold"
                    class="menu-title text-2sm font-normal text-gray-800 menu-item-active:text-primary menu-item-active:font-semibold menu-link-hover:!text-primary">
                    Entity Budget
                </span>
            </a>
        </div>
        <div *ngIf="permissionService.hasPermission('Settings - View Recurring Operational Cost in Sidebar')" class="menu-item">
            <a class="menu-link border border-transparent items-center grow menu-item-active:bg-secondary-active dark:menu-item-active:bg-coal-300 dark:menu-item-active:border-gray-100 menu-item-active:rounded-lg hover:bg-secondary-active dark:hover:bg-coal-300 dark:hover:border-gray-100 hover:rounded-lg gap-[14px] ps-[10px] pe-[10px] py-[8px]"
                routerLink="/settings/recurring-operational-cost" routerLinkActive="bg-secondary-active rounded-lg" tabindex="0">
                <span
                    class="menu-bullet flex w-[6px] relative before:absolute before:top-0 before:size-[6px] before:rounded-full rtl:before:translate-x-1/2 before:-translate-y-1/2 menu-item-active:before:bg-primary menu-item-hover:before:bg-primary">
                </span>
                <span routerLinkActive="text-primary font-semibold"
                    class="menu-title text-2sm font-normal text-gray-800 menu-item-active:text-primary menu-item-active:font-semibold menu-link-hover:!text-primary">
                    Recurring Operational Cost
                </span>
            </a>
        </div>
        <div *ngIf="permissionService.hasPermission('Settings - Bonus Pool - Can View Bonus Pool in Sidebar')" class="menu-item">
            <a class="menu-link border border-transparent items-center grow menu-item-active:bg-secondary-active dark:menu-item-active:bg-coal-300 dark:menu-item-active:border-gray-100 menu-item-active:rounded-lg hover:bg-secondary-active dark:hover:bg-coal-300 dark:hover:border-gray-100 hover:rounded-lg gap-[14px] ps-[10px] pe-[10px] py-[8px]"
                routerLink="/settings/bonus-pool" routerLinkActive="bg-secondary-active rounded-lg" tabindex="0">
                <span
                    class="menu-bullet flex w-[6px] relative before:absolute before:top-0 before:size-[6px] before:rounded-full rtl:before:translate-x-1/2 before:-translate-y-1/2 menu-item-active:before:bg-primary menu-item-hover:before:bg-primary">
                </span>
                <span routerLinkActive="text-primary font-semibold"
                    class="menu-title text-2sm font-normal text-gray-800 menu-item-active:text-primary menu-item-active:font-semibold menu-link-hover:!text-primary">
                    Bonus Pool
                </span>
            </a>
        </div>
    </div>
</div>