<div class="container-fixed">
    <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
        <div class="flex flex-col justify-center gap-2">
            <h1 class="text-xl font-medium leading-none text-gray-900">
                New Country
            </h1>
        </div>
        <div class="flex items-center gap-2.5">
            <a class="btn btn-sm btn-light" routerLink="/settings/master-data/country-management">
                Back
            </a>
        </div>
    </div>

    <app-alert [errorMessages]="errorMessages" [successMessage]="successMessage"></app-alert>

    <div class="grid gap-5 lg:gap-7.5 xl:w-[38.75rem] mx-auto">
        <div class="card pb-2.5">
            <div class="card-header" id="basic_settings">
                <h3 class="card-title">
                    Country Information
                </h3>
            </div>
            <div class="card-body grid gap-5">
                <div class="flex items-baseline flex-wrap lg:flex-nowrap gap-2.5">
                    <label class="form-label max-w-56">
                        Name <span class="text-danger">&nbsp;*</span>
                    </label>
                    <input [(ngModel)]="form.name" class="input" type="text" placeholder="Enter name"/>
                </div>
                <div class="flex items-baseline flex-wrap lg:flex-nowrap gap-2.5">
                    <label class="form-label max-w-56">
                        Code <span class="text-danger">&nbsp;*</span>
                    </label>
                    <input [(ngModel)]="form.code" class="input" type="text" placeholder="Enter code"/>
                </div>
                <div class="flex items-baseline flex-wrap lg:flex-nowrap gap-2.5">
                    <label class="form-label max-w-56">
                        Owner <span class="text-danger">&nbsp;*</span>
                    </label>
                    <p class="pt-2 text-sm" id="fetching_owner" style="display: none">Fetching Owners...</p>
                    <select name="owner_selectize" id="owner_selectize" class="w-full">
                        <option value="">Select Owner</option>
                    </select>
                </div>
                <div class="flex items-baseline flex-wrap lg:flex-nowrap gap-2.5">
                    <label class="form-label max-w-56">
                        Region <span class="text-danger">&nbsp;*</span>
                    </label>
                    <p class="pt-2 text-sm" id="fetching_region" style="display: none">Fetching Regions...</p>
                    <select name="region_selectize" id="region_selectize" class="w-full">
                        <option value="">Select Region</option>
                    </select>
                </div>
                <div class="flex items-center flex-wrap lg:flex-nowrap gap-2.5">
                    <label class="form-label max-w-56">
                        Flag
                    </label>
                    <div class="image-input w-20 h-20" data-image-input="true">
                        <input name="avatar" (change)="onImageChange($event)" id="image_input" type="file" accept=".jpeg, .png, .jpg, .gif">
                        <div (click)="removeImage()" class="btn btn-icon btn-icon-xs btn-light shadow-default absolute z-1 size-5 -top-0.5 -end-0.5 rounded-full"
                            data-image-input-remove="">
                            <i class="ki-filled ki-cross"></i>
                        </div>
                        <label for="image_input" class="image-input-placeholder border-2 border-success image-input-empty:border-gray-300"
                            style="background-image:url({{form.flag_url || '/assets/media/avatars/blank.png'}})">
                        </label>
                    </div>
                </div>
                <div class="flex justify-end">
                    <button *ngIf="permissionService.hasPermission('Settings - Master Data - Can Create Country Management')" (click)="createCountry()" [disabled]="loading" class="btn btn-primary">
                        {{ loading ? 'Saving...' : 'Save Changes' }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>